
<% if (userId ) { %>
  <h2 class="subheading" >Let's create your personalized trips</h2>
  <h3 class="section-title">
    <a class="btn" href="/trips/new">Post new Wander Trip</a>
  </h3>
 
  <section class="all-trips">
    <% for (let trip of trips) { %>
    <div class="ui-card">
      <img src="<%= trip.image_url %>" alt="trip.title">
      <h4>
        <a class="trip-link" href="/trips/<%= trip.id %>"><%= trip.title %></a>
      </h4>
    </div>
    <% } %> 
  </section> 
<% } %>
