<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
    
      <li><a href="/">Homepage</a></li>
    </ul>
  </nav>

  <h1>Wander Plan</h1>
  
  <%- body %>
  <footer class="bg">
    <img src="https://www.seekpng.com/png/full/809-8093807_read-more-tour-and-travel-bg.png" alt="">
  </footer>
</body>
</html>