<div class="login-container">
  <h2 class="subheading">Login</h2>

  <form class="login-form" action="/login" method="post">
    <label for=""></label>
    <input type="email" name="email" placeholder="Your Email">
    <label for=""></label>
    <input type="password" name="password" placeholder="Your Password">

    <button type="submit">Login</button>
  </form>
</div>