<h2>Post new Wander Trip</h2>

<form action="/trips" method="post">
  <label for="">Title</label>
  <input type="text" name="title">
  <label for="">Image_url</label>
  <input type="text" name="image_url">
  <label for="">Description</label>
  <input type="text" name="description">
  <button>Share</button>
</form>