<h2 class="subheading">Post new Wander Trip</h2>

<form class="form" action="/trips" method="post">
  <label for="">Title</label>
  <input type="text" name="title">
  <label for="">Image_url</label>
  <input type="text" name="image_url">
  <label for="">Description</label>
  <textarea name="description" rows="4"></textarea>
  <button>Share</button>
</form>

<img class="plane" src="https://i.imgur.com/sShpcjG.png" alt="">